In [1]:
import pandas as pd
import numpy as np
import tsfresh as tsf
from tsfresh import extract_features, select_features
from tsfresh.utilities.dataframe_functions import impute

In [2]:
data_train = pd.read_csv("train.csv")
data_test_A = pd.read_csv("testA.csv")

print(data_train.shape)
print(data_test_A.shape)

(100000, 3)
(100000, 3)

In [3]:
train_heartbeat_df = data_train["heartbeat_signals"].str.split(",", expand=True).stack()

In [5]:
train_heartbeat_df = train_heartbeat_df.reset_index()
train_heartbeat_df = train_heartbeat_df.set_index("level_0")
train_heartbeat_df.index.name = None
train_heartbeat_df.rename(columns={"level_1":"time", 0:"heartbeat_signals"}, inplace=True)
train_heartbeat_df["heartbeat_signals"] = train_heartbeat_df["heartbeat_signals"].astype(float)

In [6]:
train_heartbeat_df

       time  heartbeat_signals
0         0           0.991230
0         1           0.943533
0         2           0.764677
0         3           0.618571
0         4           0.379632
...     ...                ...
99999   200           0.000000
99999   201           0.000000
99999   202           0.000000
99999   203           0.000000
99999   204           0.000000

[20500000 rows x 2 columns]

In [7]:
data_train_label = data_train["label"]
data_train = data_train.drop("label", axis=1)
data_train = data_train.drop("heartbeat_signals", axis=1)
data_train = data_train.join(train_heartbeat_df)

data_train

          id  time  heartbeat_signals
0          0     0           0.991230
0          0     1           0.943533
0          0     2           0.764677
0          0     3           0.618571
0          0     4           0.379632
...      ...   ...                ...
99999  99999   200           0.000000
99999  99999   201           0.000000
99999  99999   202           0.000000
99999  99999   203           0.000000
99999  99999   204           0.000000

[20500000 rows x 3 columns]

In [ ]:
from tsfresh import extract_features

# 特征提取
train_features = extract_features(data_train, column_id='id', column_sort='time')
train_features

Feature Extraction:  20%|████████████▍                                                 | 6/30 [14:11<55:46, 139.45s/it]

In [ ]:
from tsfresh import select_features

# 按照特征和数据label之间的相关性进行特征选择
train_features_filtered = select_features(train_features, data_train_label)

train_features_filtered